* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'open sans', arial, sans-serif;
  line-height: 1.5;
}

main {
  margin-bottom: 9rem;
}
h1 {
  text-align: center;
  font-weight: 200;
  margin-top: 2rem;
}

h2 {
  font-size: 1.8em;
  font-weight: 200;
}

section {
  margin-left: 2rem;
  margin-right: 3rem;
}

p {
  margin: 1rem 3%;
}

ul {
  margin-left: 2rem;
}

ul > ul {
  margin-left: 1.5rem;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code {
  display: block;
  background-color: rgb(247,247,247);
  padding: 1rem;
  line-height: 2;
  white-space: pre-line;
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  margin: 1rem 0 1rem 0.75rem;
  border-radius: 5px;
}

#navbar-header {
  width: 100%;
  overflow: auto;
  height: 240px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-left: 0;
}

.navbar-list {
  list-style-type: none;
  max-width: 100%;
  border: 1px solid black;
  padding: 0.75rem 0;
  margin: 0;
}

.navbar-list > a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  margin-left: 1.5rem;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.column-full {
  width: 100%
}

.column-half {
  width: 50%
}

.column-one-fourth {
  width: 25%;
}

.column-one-tenth {
  width: 10%;
}
