* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 5rem;
  margin: 0 3rem 0 2rem;
  background-color: white;
}

header > img {
  width: 20%;
}

section {
  margin: 2rem 0;
}

section[id="pricing"] {
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 30px;
}

form {
  text-align: center;
  margin: 5rem 0 3rem;
}

i {
  color: rgb(255,140,0);
  font-size: 3em;
}

footer {
  width: 80%;
  margin: auto;
  background-color: #DDDDDD;
  padding: 0.5rem 1.5rem;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

footer > span {
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1px;
}

#nav-bar > ul {
  display: flex;
  list-style-type: none;
}

#nav-bar > ul > li {
  padding: 0 2rem;
}

.icon {
  justify-content: center;
  align-items: center;
}

#submit {
  background-color: rgb(241,196,15);
  border: 0px;
  border-radius: 3px;
  padding: 0.15rem 0;
  font-size: 18px;
  font-weight: 800;
  width: 15%;
}

#submit:hover {
  background-color:rgb(255, 171, 92);
  transition: 1s;
}

#email {
  padding: 0.3rem 8rem 0.3rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 15px;
  border-radius: 2px;
  border: 0.8px solid rgb(184, 184, 184);
}

#email:focus {
  border: 1px solid rgb(184, 184, 184)
}
#features {
  margin: 0;
}

#video {
  max-width: 600px;
  width: 100%;
}

#pricing > div > button {
  background-color: rgb(241,196,15);
  border: 0px;
  border-radius: 3px;
  font-weight: 100;
  font-size: 18px;
  padding: 0.6rem 1.8rem;
  margin: 1.5rem;
}

#pricing > div > button:hover {
  background-color:rgb(255, 171, 92);
  transition: 1s;
}

.pricing-layout {
  border: 1px solid black;
  margin: 3rem 1rem 1rem;
  border-radius: 3px;
}

.pricing-layout > h3 {
  background-color: #DDDDDD;
  margin: 0;
  padding: 1rem 0;
  font-size: 22px;
}

.pricing-layout > p {
  margin-top: 0;
  margin-bottom: 0.35rem;
  font-size: 18px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-left: 2.5rem;
}

.footer-links {
  margin-left: 2rem;
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-nine-tenth {
  width: 90%;
}

.column-half {
  width: 50%;
}

.column-one-third {
  width: calc(100%/3);
}

.column-three-tenth {
  width: 30%;
}

.column-one-fourth {
  width: 25%;
}

.column-two-tenth {
  width: 20%;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.feature-h2-margin {
  margin-bottom: 0;
}

.feature-p-margin {
  margin: 0.25rem 0 3rem;
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 1000px;
  }

  #submit {
    font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 800px;
  }

  .nav-bar > ul {
    flex-direction: column;
  }
  .nav-link {
    font-size: 15px;
    margin-left: 0;
    padding: 0 1rem;
  }
}
