* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem 2rem 2rem;
}

header > img {
  width: 30%;
}

header > nav > ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 0 2rem;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

h2 {
  font-size: 30px;
}
form {
  text-align: center;
}

i {
  color: rgb(255,140,0);
  font-size: 3em;
}

.icon {
  justify-content: center;
  align-items: center;
}
[type="submit"] {
  background-color: rgb(241,196,15);
  font-size: 20px;
  font-weight: 900;
  width: 15%;
  border: 0px;
  padding: 0.25rem 0;
}

#email {
  padding: 0.4rem 9rem 0.4rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 15px;
}

#features {
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-nine-tenth {
  width: 90%;
}

.column-half {
  width: 50%;
}

.column-one-third {
  width: calc(100%/3);
}

.column-one-fourth {
  width: 25%;
}

.column-two-tenth {
  width: 20%;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.feature-h2-margin {
  margin-bottom: 0;
}

.feature-p-margin {
  margin-top: 0.25rem;
}
