* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header,
form {
  justify-content: center;
}

header {
  margin-top: 2rem;
  text-align: center;
}

form {
  margin: 0 5%;
}
input {
  width: 100%;
  border-radius: 5px;
}

.container {
  max-width: 50vw;
  margin: auto;
  background-color: rgb(122, 4, 138);
  border-radius: 5px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}
